<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h2 class="card-title">Thông tin cá nhân</h2>
      <div class="row">
        <div class="col-md-3">
          <h5 class="card-text">Họ tên:</h5>
        </div>
        <div class="col-md-9">
          <h5 class="card-text">{{name}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5 class="card-text">Giới tính:</h5>
        </div>
        <div class="col-md-9">
          <h5 class="card-text">{{gender}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5 class="card-text">Ngày sinh:</h5>
        </div>
        <div class="col-md-9">
          <h5 class="card-text">{{birthday}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5 class="card-text">Số điện thoại:</h5>
        </div>
        <div class="col-md-9">
          <h5 class="card-text">{{sdt}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>